:root {
    --cor0: #f8c408;
    --cor1: #ffc211;
    --cor2: #ffc30d;
    --cor3: #ffd573;
    --cor4: #a6a7ad;
    --cor5: #232423;
    --cor6: #231b29;
    --cor6: #e5e6e8;    
    --cor6: #f6f7f8;

}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.pagina02{
    height: 800px;
    width: 1280px;
    background-color: #f6f7f8;
   
}

.pagina02 .escritadetopo {
    text-shadow: 0.8px 0.8px rgb(202, 200, 200);
    padding: 50px;
    padding-bottom: 80px;
    font-size: 28px;

}

.quadrado{
     display: inline-flex;  
       
}


.quadradoscoloridos{
    margin-left: 60px;
    width: 220px;
    height: 150px;
    background-color: var(--cor1);
    display: inline-block;
    border-radius: 20px 0px 0px 0px;
}

#quadrado01{
    box-shadow: 13px 2px 10px rgb(206, 201, 201);
  
}
#quadrado01 > p{
    padding-left:55px;
    padding-top: 20px;
    font-size: 100px;
    text-shadow: 2px 2px rgb(0, 0, 0);
    color:#f6f7f8;
}
#quadrado02{
    box-shadow: 13px 2px 10px rgb(206, 201, 201);
  background-color: var(--cor5);
  text-shadow: 2px 2px rgb(109, 108, 108);
  margin-left: 94px
}
#quadrado02 > p{
    padding-left:55px;
    padding-top: 20px;
    font-size: 100px;
    color:#f6f7f8;
}
#quadrado03{
    box-shadow: 13px 2px 10px rgb(206, 201, 201);
    text-shadow: 2px 2px rgb(0, 0, 0);
  margin-left: 95px
}
#quadrado03 > p{
    padding-left:55px;
    padding-top: 20px;
    font-size: 100px;
    color:#f6f7f8;
}
#quadrado04{
    box-shadow: 13px 2px 10px rgb(206, 201, 201);
    text-shadow: 2px 2px rgb(109, 108, 108);
  background-color: var(--cor5);
  margin-left: 94px
}
#quadrado04 > p{
    padding-left:55px;
    padding-top: 20px;
    font-size: 100px;
    color:#f6f7f8;
}


.quadradoscinzas{    
    display:inline-flex; 
}


.quadradocinza{
    margin-top: 2px;
    margin-left: 60px;
    height: 280px;
    width: 220px;
    display: inline-block;
    background-color: var(--cor4);
    border-radius: 0px 0px 20px 0px;
}

#cinza01{
    box-shadow: 13px 15px 10px rgb(206, 201, 201);
   padding-left: 55px;
   padding-top: 18px;
    
}
#cinza01 > p {
    text-shadow: 1px 1px rgb(54, 54, 54);
    margin-top: 10px;
    margin-left: -35px;
    margin-right: 20px;
    text-align: justify;   
    font-size: 18px;
    color:#f6f7f8;
}
#cinza02{
    box-shadow: 13px 15px 10px rgb(206, 201, 201);
    margin-left: 94px;
    padding-left: 55px;
    padding-top: 18px;
}
#cinza02 > p {
    text-shadow: 1px 1px rgb(54, 54, 54);
    margin-top: 10px;
    margin-left: -35px;
    margin-right: 20px;
    text-align: justify;   
    font-size: 18px;
    color:#f6f7f8;
}
#cinza03{
    box-shadow: 13px 15px 10px rgb(206, 201, 201);
    margin-left: 95px;
    padding-left: 45px;
    padding-top: 18px;
}
#cinza03 > p {
    text-shadow: 1px 1px rgb(54, 54, 54);
    margin-top: 10px;
    margin-left: -30px;
    margin-right: 20px;
    text-align: justify;   
    font-size: 18px;
    color:#f6f7f8;
}
#cinza04{
    box-shadow: 13px 15px 10px rgb(206, 201, 201);
    margin-left: 94px;
    padding-left: 50px;
    padding-top: 18px;
}
#cinza04 > p {
    text-shadow: 1px 1px rgb(54, 54, 54);
    margin-top: 10px;
    margin-left: -30px;
    margin-right: 20px;
    text-align: justify;   
    font-size: 18px;
    color:#f6f7f8;
}

.escritadefundo{    
    text-shadow: 1px 1px rgb(233, 230, 230);
    padding-top: 100px;
    margin-left: 50px;
    font-size: 15px;
    color: var(--cor4);
}
