:root {
    --cor0: #f8c408;
    --cor1: #ffc211;
    --cor2: #ffc30d;
    --cor3: #ffd573;
    --cor4: #a6a7ad;
    --cor5: #232423;
    --cor6: #231b29;
    --cor6: #e5e6e8;    
    --cor6: #f6f7f8;

}
* {
    margin:auto;
    padding: 0px;
    box-sizing: border-box;
}
.headerprincipal{
    height: 800px;
    width: 1280px;
    background-color: #f6f7f8;
}